<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>
	Job -{% block title_block %}{% endblock %}
    </title>

    <!--
    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="{% static 'css/dashboard.css'%}" rel="stylesheet"> -->

    <!-- for style1 -->

    <!-- Bootstrap core CSS-->
    <link href="{% static 'style1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'style1/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'style1/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'style1/css/sb-admin.css' %}" rel="stylesheet">

    <!-- for kendoui -->

    <script src="{% static 'kendoui/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'kendoui/styles/kendo.common.min.css' %}" />
    <link rel="stylesheet" href="{% static 'kendoui/styles/kendo.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'kendoui/styles/kendo.default.mobile.min.css' %}" />
    <script src="{% static 'kendoui/js/kendo.core.min.js' %}"></script>
    <script src="{% static 'kendoui/js/kendo.ui.core.min.js' %}"></script>
    <script src="{% static 'kendoui/js/kendo.combobox.min.js' %}"></script>
    <script src="{% static 'kendoui/js/kendo.upload.min.js' %}"></script>
    <script src="{% static 'kendoui/js/kendo.dialog.min.js' %}"></script>

    {% block extrahead_block %}
    {% endblock %}

    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">JOB SYSTEM V1.6</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Overview">
          <a class="nav-link" href="{% url 'jobapp:index' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Overview</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Audit">
          <a class="nav-link" href="{% url 'jobapp:audit'%}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Audit</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Help">
          <a class="nav-link" href="{% url 'jobapp:help'%}">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Help</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Select Target">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-search"></i>
            <span class="nav-link-text">Select Target</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a class="nav-link" href="#select_target_cmdb" data-toggle="modal">From Cmdb</a>
            </li>
            <li>
              <a class="nav-link" href="#select_target_salt" data-toggle="modal">From Salt Group</a>
            </li>
            <li>
              <a class="nav-link" href="#select_target_dynamic" data-toggle="modal">From Dynamic Group</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Group Manage">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Group Manage</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a class="nav-link" href="#salt_group_manage" data-toggle="modal">Salt Group</a>
            </li>
            <li>
              <a class="nav-link" href="#dynamic_group_manage" data-toggle="modal">Dynamic Group</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Config Manage">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Config Manage</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a class="nav-link" href="{% url 'jobapp:show_custom_script' 1 %}">Custom Script</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'jobapp:system_user_manage' 1 %}">System User</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#LinkMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-external-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
          <ul class="sidenav-second-level collapse" id="LinkMulti">
            <li>
              <a class="nav-link" href="http://cmdb.qk.com" target="_blank">Cmdb System</a>
            </li>
            <li>
              <a class="nav-link" href="http://zbx.qk.com" target="_blank">Zabbix System</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="{% url 'jobapp:shortcut_search_host' %}">
            <div class="input-group">
              <input class="form-control" type="text" id="search_key_word" name="search_key_word" placeholder="Search Host ...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" id="search_btn">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'jobapp:logout'%}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
          {% else %}
              <a class="nav-link" href="{% url 'jobapp:login'%}"><i class="fa fa-fw fa-sign-out"></i>Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
       {% block main_block %}
       {% endblock %}  
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © qk Finance 2017</small>
        </div>
      </div>
    </footer>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div> 

    <script type="text/javascript">
    $(document).ready(function() {

      function isValidIP(ip)     
      {     
        var reg =  /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/     
        return reg.test(ip);     
      }    

      $("#search_by_ip_btn").click(function(){
            var keyWord = $("#search_key_word").val()
            if (keyWord == "") {
               $("#search_key_word").attr('placeholder',"IP地址或主机名不得为空！")
               return false
            } else {

              if (isValidIP(keyWord)) {

                  window.location.replace("/jobapp/shortcut_search_host?keyWord="+keyWord+"&"+"type="+"ip")

              } else {
                  $("#search_key_word").val("")
                  $("#search_key_word").attr('placeholder',"IP地址不合法！")
                  return false
              }

            }
      })

      $("#search_btn").click(function(){
            var keyWord = $("#search_key_word").val()
            if (keyWord == "") {
               $("#search_key_word").attr('placeholder',"IP地址或主机名不得为空！")
               return false
            } else {
               $("#tip_window").modal('show')
            }
      })

    })
    </script>
    

    <!-- popup box 1 start -->
    <div class="modal fade" id="select_target_cmdb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel">选取目标</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body" id="ShowInfoDiv">
          
          <!-- select execute target for salt -->
          <div id="example1">

            <div class="demo-section1 k-content">
                <ul id="fieldlist">
                    <li>
                        <label for="applications">业务</label>
                        <input id="applications" style="width: 100%;" />
                    </li>
                    <li>
                        <label for="sets">组</label>
                        <input id="sets" disabled="disabled" style="width: 100%;" />
                    </li>
                    <li>
                        <label for="modules">模块</label>
                        <input id="modules" disabled="disabled" style="width: 100%;" />
                    </li>
                </ul>
            </div>

            <style>
               #fieldlist {
                   margin: 0;
                   padding: 0;
               }
       
               #fieldlist li {
                   list-style: none;
                   padding-bottom: 1.5em;
                   text-align: left;
               }
       
               #fieldlist label {
                   display: block;
                   padding-bottom: .3em;
                   font-weight: bold;
                   text-transform: uppercase;
                   font-size: 12px;
               }
            </style>

            <script>
                $(document).ready(function() {
                    var applications = $("#applications").kendoComboBox({
                        filter: "contains",
                        placeholder: "Select App...",
                        dataTextField: "ApplicationName",
                        dataValueField: "ApplicationID",
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_app_info"
                            }
                        }
                    }).data("kendoComboBox");

                    var sets = $("#sets").kendoComboBox({
                        autoBind: false,
                        cascadeFrom: "applications",
                        filter: "contains",
                        placeholder: "Select Group...",
                        dataTextField: "SetName",
                        dataValueField: "SetID",
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_set_info"
                            }
                        }
                    }).data("kendoComboBox");

                    var modules = $("#modules").kendoComboBox({
                        autoBind: false,
                        cascadeFrom: "sets",
                        filter: "contains",
                        placeholder: "Select Module...",
                        dataTextField: "ModuleName",
                        dataValueField: "ModuleID",
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_module_info"
                            }
                        }
                    }).data("kendoComboBox");


                    $("#get").click(function() {


                        var app = applications.value() + "_" +  applications.text()
                        var set = sets.value() + "_" + sets.text()
                        var module = modules.value() + "_" + modules.text()

                        if (app == "_" || set == "_" || module == "_") {
                            $("#cmdb_tip_info").html("<font color='red'>请选择分组！</font>")
                            return false
                        } else {
                            $("#cmdb_tip_info").html("<font color='green'>正在检测所选主机连通性...,请等待！</font>")
                            location.href = "/jobapp/target_hosts_info?app="+app+"&"+"set="+set+"&"+"module="+module
                        }


                    });
                });
            </script>
    </div>
    <!-- end-->


          </div>
          <div class="modal-footer">
            <div id="cmdb_tip_info" align="left"></div>
            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="get">确认</button>
          </div>
        </div>
      </div>
   </div>
  <!-- popup box 1 end   --> 


  <!-- popup box 2 sart  -->
  <div class="modal fade" id="dynamic_group_manage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" style="height:900px; overflow:scroll;">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel">动态分组管理</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body" id="ShowInfoDiv1">

          <div style="margin-bottom:0px;">
            <p>[ 已有动态组 ]</p>
          </div>
            <table id="dynamic_group_table" class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>组名</td>
                  <td>管理</td>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
          
            <div style="margin-bottom:0px;">
               <p>[ 组管理 ]</p>
            </div>

            <table class="table table-striped table-condensed">
              <tr></tr>
              <tr>
                  <td>
                  <input type="text" class="form-control" id="dynamic_group_name" placeholder="组名">
                  </td>
                  <td colspan="2"></td>
              </tr>
                <tr>
                  <td>
                    <div class="demo-section k-content">
                        <ul id="fieldlist">
                          <li>
                              <label for="applications1">业务</label>
                              <input id="applications1" />
                          </li>
                          <li>
                              <label for="sets1">组</label>
                              <input id="sets1" disabled="disabled" />
                          </li>
                          <li>
                              <label for="modules1">模块</label>
                              <input id="modules1" disabled="disabled" />
                          </li>
                        </ul>
                    </div>
                  </td>
                  <td colspan="2">
                              <div id="example" role="application">
                                <div class="demo-section k-content">
                                <div>
                                  <label for="listbox1" id="employees">BkingData</label>
                                  <label for="listbox2">组成员</label>
                                  <br />
                                  <select id="listbox1" title="BKingData">
                                  </select>            
                                  <select id="listbox2" title="DynamicGroup"></select>
                                </div>
                                </div>
                              </div>
                  </td>
                </tr>
            </table>



            <style>
               #fieldlist {
                   margin: 0;
                   padding: 0;
               }
       
               #fieldlist li {
                   list-style: none;
                   padding-bottom: 1.5em;
                   text-align: left;
               }
       
               #fieldlist label {
                   display: block;
                   padding-bottom: .3em;
                   font-weight: bold;
                   text-transform: uppercase;
                   font-size: 15px;
               }
            </style>

            <script>

                $(document).ready(function(){
                 
                  // -- listbox --

                  function onChange() {
                      //alert("app is :"+$("#applications1").val() + "set is : "+$("#sets1").val() + "module is :"+$("#modules1").val())
                      appid = $("#applications1").val()
                      setid = $("#sets1").val()
                      moduleid = $("#modules1").val()

                      cleanListbox1()

                      $.getJSON("/jobapp/hostname_base_bking_module",{appid:appid,setid:setid,moduleid:moduleid},function(data){
                            for (i in data) {
                              listbox1.add(new host({hostname: data[i]}))
                            }
                      })


                  }

                  function cleanListbox1() {
                      var items = listbox1.items()
                      for (var i = 0; i < items.length; i++) {
                        listbox1.remove(items[i])
                      }
                  }


                  function cleanListbox2() {
                      var items = listbox2.items()
                      for (var i = 0; i < items.length; i++) {
                        listbox2.remove(items[i])
                      }
                  }                  


                  function DynamicGroupTableRender() {
                      $.get("{% url 'jobapp:dynamic_group_show'%}",{},function(data,retflag) {
                             $("#dynamic_group_table tbody").html("")
                             for (i in data) {
                                  id = data[i]["id"]
                                  group_name = data[i]["GroupName"]
                                  group_members = data[i]["GroupMembers"]
                                  $("#dynamic_group_table tbody").html(function(n,origHtml){
                                       return "<tr><td>"+id+"</td><td>"+group_name+"</td><td><a class='btn btn-outline-success my-2 my-sm-0' role='button' name='dynamic_group_edit_btn' val="+id+">编辑</a><a class='btn btn-outline-success my-2 my-sm-0' role='button' name='dynamic_group_del_btn' val="+id+">删除</a></td></tr>"+origHtml
                                  })
                             }
                      })
                  }

                  DynamicGroupTableRender()


                  var host = kendo.data.Model.define({
                                  id: "hostid",
                                  fields: {
                                      "hostname": {
                                          type: "string"
                                      }
                                  }
                              });

                  
                  var  listbox1 = $("#listbox1").kendoListBox({
                              dataTextField: "hostname",
                              dataValueField: "hostid",
                              connectWith: "listbox2",
                              toolbar: {
                                  tools: ["moveUp", "moveDown", "transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                               },
                               selectable: "multiple"

                              }).data("kendoListBox");


                  var  listbox2 = $("#listbox2").kendoListBox({
                              dataTextField: "hostname",
                              dataValueField: "hostid",
                              toolbar: {
                                  tools: ["moveUp", "moveDown" , "remove"]
                               },
                               selectable: "multiple"
                              }).data("kendoListBox");


                
                 // -- listbox --


                  var applications1 = $("#applications1").kendoComboBox({
                        filter: "contains",
                        placeholder: "Select App...",
                        dataTextField: "ApplicationName",
                        dataValueField: "ApplicationID",
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_app_info"
                            }
                        }
                    }).data("kendoComboBox");

                    var sets1 = $("#sets1").kendoComboBox({
                        autoBind: false,
                        cascadeFrom: "applications1",
                        filter: "contains",
                        placeholder: "Select Group...",
                        dataTextField: "SetName",
                        dataValueField: "SetID",
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_set_info"
                            }
                        }
                    }).data("kendoComboBox");

                    var bking_host = kendo.data.Model.define({
                          fields: {
                              "hostname": {
                                  type: "string"
                              }
                          }
                     });


                    var modules1 = $("#modules1").kendoComboBox({
                        autoBind: false,
                        cascadeFrom: "sets1",
                        filter: "contains",
                        placeholder: "Select Module...",
                        dataTextField: "ModuleName",
                        dataValueField: "ModuleID",
                        change: onChange,
                        dataSource: {
                            type: "json",
                            serverFiltering: true,
                            transport: {
                                read: "/jobapp/get_module_info"
                            }
                        }
                    }).data("kendoComboBox");


                    $("#dynamic_group_manage_btn").click(function() {

                        var group_name = $("#dynamic_group_name").val()
                        var group_members = ""

                        if (group_name == "") {
                            alert("组名不得为空!")
                        } else {
                            var items = listbox2.items()
                            if (items.length == 0) {
                              alert("没有组成员!")
                            } else {
                              for (var i = 0;i < items.length;i++) {
                                  var dataItem = listbox2.dataItem(items[i]);
                                  group_members = group_members + dataItem.hostname + ","
                              }
                              group_members = group_members.substr(0,group_members.length-1)
                              //alert(group_members)
                              $.get("{% url 'jobapp:dynamic_group_manage'%}",{group_name:group_name,group_members:group_members},function(data,retflag){
                                  alert(data["operate"]+" "+ retflag)
                                  DynamicGroupTableRender()
                              })

                            }
                        }

                       
                    });


                    $('body').on('click',"a[name='dynamic_group_edit_btn']",function(){
                        var  id = $(this).attr("val")
                        $.get("{% url 'jobapp:dynamic_group_record_by_id'%}",{id:id},function(data){
                              group_name = data["GroupName"]
                              group_members = data["GroupMembers"]
                              
                              $("#dynamic_group_name").val(group_name)

                              cleanListbox2()

                              for (i in group_members) {
                                 listbox2.add(new host({hostname: group_members[i]["hostname"]}))
                              }
 
                         })
                    });


                    $('body').on('click',"a[name='dynamic_group_del_btn']",function(){
                          var  id = $(this).attr("val")
                          $.get("{% url 'jobapp:dynamic_group_del_record_by_id'%}",{id:id},function(data){
                               DynamicGroupTableRender()
                          })
                    })


                  
                });

            </script>


          <!-- end-->

        <style>
              .demo-section label {
                  margin-bottom: 5px;
                  font-weight: bold;
                  display: inline-block;        
              }
              #employees {
                  width: 270px;
              }
              #example .demo-section {
                  max-width: none;
                  width: 515px;
              }

              #example .k-listbox {
                  width: 236px;
                  height: 300px;
              }

              #example .k-listbox:first-of-type {
                      width: 270px;
                      margin-right: 1px;
                  }
          </style>


          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="dynamic_group_manage_btn">确认</button>
          </div>

        </div>
      </div>
   </div>
  <!-- popup box 2 end  -->


  <!-- popup box 3 start -->

    <div class="modal fade" id="select_target_dynamic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel11">动态组选择</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="demo-section k-content">
                <input id="dynamic_group" style="width: 100%" />
            </div>
            <script>
                $(document).ready(function() {
                   $("#dynamic_group").kendoDropDownList({
                        dataTextField: "GroupName",
                        dataValueField: "id",
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: "/jobapp/dynamicgroup/show",
                                }
                            }
                        }
                    });

                    var dynamic_group_data = $("#dynamic_group").data("kendoDropDownList")

                    $("#dynamic_group_select_btn").click(function(){
                        $("#dynamic_tip_info").html("<font color='green'>正在检测所选主机连通性...,请等待！</font>")
                        var GroupName = dynamic_group_data.text()
                        var GroupID = dynamic_group_data.value()
                        location.href = "/jobapp/dynamic_group_hosts_info?GroupName="+GroupName+"&"+"GroupID="+GroupID

                    })
                });
            </script>
          </div>
          <div class="modal-footer">
          <div id="dynamic_tip_info" align="left"></div>
          <button type="button" class="btn btn-primary" id="dynamic_group_select_btn">确认</button>
          </div>
        </div>
      </div>
   </div>

  <!-- popup box 3 end--> 


  <!-- popup box 4 start  -->
      <div class="modal fade" id="salt_group_manage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel1">Salt分组管理</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
 
          <div style="margin-bottom:0px;">
            <p>[ 已有Salt组 ]</p>
          </div>
            <table id="salt_group_table" class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>组名</td>
                  <td>表达式</td>
                  <td>管理</td>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          
            <div style="margin-bottom:0px;">
               <p>[ 组管理 ]</p>
            </div>

            <table>
              <tr>
                <td>
                  <input type="text" class="form-control" id="salt_group_name" placeholder="组名">
                </td>
                <td>
                  <input type="text" class="form-control" id="salt_group_expr" placeholder="表达式">
                </td>
              </tr>
            </table>

            <script type="text/javascript">
            $(document).ready(function() {

               SaltGroupTableRender()

               function SaltGroupTableRender() {
                      $.get("{% url 'jobapp:salt_group_all'%}",{},function(data,retflag) {
                             $("#salt_group_table tbody").html("")
                             for (i in data) {
                                  id = data[i]["id"]
                                  group_name = data[i]["GroupName"]
                                  group_expr = data[i]["GroupExpr"]
                                  $("#salt_group_table tbody").html(function(n,origHtml){
                                       return "<tr><td>"+id+"</td><td>"+group_name+"</td><td>"+group_expr+"</td><td><a class='btn btn-outline-success my-2 my-sm-0' role='button' name='salt_group_edit_btn' val="+id+">编辑</a><a class='btn btn-outline-success my-2 my-sm-0' role='button' name='salt_group_del_btn' val="+id+">删除</a></td></tr>"+origHtml
                                  })
                             }
                      })
                  }


              $("#salt_group_manage_btn").click(function(){
                      var group_name = $("#salt_group_name").val()
                      var group_expr = $("#salt_group_expr").val()
                      if (group_name == "" || group_expr == "") 
                        {
                           alert("组名或组表达式为空！")
                        }
                      else 
                        {
                           $.get("{% url 'jobapp:salt_group_manage'%}",{group_name:group_name,group_expr:group_expr},function(data,retflag){
                                alert(data['operate']+" "+retflag)
                                SaltGroupTableRender()
                           })
                        } 

              });

              $('body').on('click','a[name="salt_group_edit_btn"]',function(){
                   
                   var group_id = $(this).attr("val")
                   $.get("{% url 'jobapp:salt_group_record_by_id'%}",{group_id:group_id},function(data,retflag){
                        group_name = data["GroupName"]
                        group_expr = data["GroupExpr"]
                        $("#salt_group_name").val(group_name)
                        $("#salt_group_expr").val(group_expr)
                   })
              });

              $('body').on('click','a[name="salt_group_del_btn"]',function(){
                   var group_id = $(this).attr("val")
                   $.get("{% url 'jobapp:salt_group_del_record_by_id'%}",{group_id:group_id},function(){
                        SaltGroupTableRender()
                   })

              })

            });
            </script>


          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="salt_group_manage_btn">确认</button>
          </div>
        </div>
      </div>
   </div>
  <!-- popup box 4 end -->
  

  <!-- popup box 5 start -->
  <div class="modal fade" id="select_target_salt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel1">Salt组选择</h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
              <div class="demo-section k-content">
                <input id="salt_group" style="width: 100%" />
              </div>
            <script>
                $(document).ready(function() {
                   $("#salt_group").kendoDropDownList({
                        dataTextField: "GroupName",
                        dataValueField: "id",
                        dataSource: {
                            transport: {
                                read: {
                                    dataType: "json",
                                    url: "{% url 'jobapp:salt_group_all'%}",
                                }
                            }
                        }
                    });

                    var salt_group_data = $("#salt_group").data("kendoDropDownList")

                    $("#salt_group_select_btn").click(function(){

                        $("#salt_tip_info").html("<font color='green'>正在检测所选主机连通性...,请等待！</font>")

                        var GroupName = salt_group_data.text()
                        var GroupID = salt_group_data.value()
                        
                        //location.href = "/jobapp/salt_group_hosts_info?GroupName="+GroupName+"&"+"GroupID="+GroupID
                        window.location.replace("/jobapp/salt_group_hosts_info?GroupName="+GroupName+"&"+"GroupID="+GroupID)
                        
                    })

                });
            </script>
          </div>
          <div class="modal-footer">
          <div id="salt_tip_info" align="left"></div>
          <button type="button" class="btn btn-primary" id="salt_group_select_btn">确认</button>
          </div>
        </div>
      </div>
   </div>
  <!-- popup box 5 end -->

  <!-- test -->
    <div class="modal fade" id="tip_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel1"></h6>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <img src="{% static 'images/loading2.gif'%}" height="70" width="70">
             <strong>请等待!......</strong>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
   </div>
  <!-- test end   --> 



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/tether.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jobapp.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	  <script>
      $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="{% static 'style1/vendor/jquery/jquery.min.js' %}"></script> -->
    <script src="{% static 'style1/vendor/popper/popper.min.js' %}"></script>
    <!-- <script src="{% static 'style1/vendor/bootstrap/js/bootstrap.min.js' %}"></script> -->
    <!-- Core plugin JavaScript-->
    <script src="{% static 'style1/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'style1/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'style1/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'style1/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'style1/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'style1/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'style1/js/sb-admin-charts.min.js' %}"></script>
    
    </body>
</html>
